@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(157, 155, 155);
   
}

a{
    color: green;
}


/* header section */
header{
    display: flex;
    background-color: #183153;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header_icons ul{
    display: flex;
    list-style: none;
}

.header_icons ul li{
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

.header_logo a{
    text-decoration: none;
    color: green;

}

.searchBar_container input{
    padding: 10px;
    border-radius: 5px;
    width: 190px;
    border: none;
    transition: width 1s linear ;
    
}

.searchBar_container input:focus{
   width: 250px;
   outline: none;
    
}

/* newfeed section */

.newsfeed_container{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: black;
    color: white;
    min-width: 310px;

}

.personal_detail_container{
    flex: 1 0 100px;
    margin-right: 20px;
    margin-top: 10px;
    background: white;
    display: flex;
    /* border: 2px solid white; */
    box-shadow: inset 0px 0px 4px rgb(135, 134, 134);
   padding: 10px;
   border-radius: 5px;
   max-height: 120px;
   color: black;
}

.personal_detail_container img{
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.newsfeed_detail_right{
    flex: 3 0 0px;
    margin-top: 10px;
    box-shadow: inset 0px 0px 4px white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 280px;
}




.newsfeed_form{
    display: flex;
    flex-wrap: wrap;
  
    
   

}

.newsfeed_form input[type='submit']{
   font-size: 20px;
   border-radius: 5px;
   color: white;
   border: none;
   background-color: #183153;
   margin-left: 10px;
   /* flex: 1 0 20px; */
 
    padding: 5px;
}

.newsfeed_form textarea{
    min-width: 70%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
}

.post_data_container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  
    
}

.imgAndPostContent_wrapper{
    display: flex;
    cursor: pointer;
    height: 80px;
}


.img_wrapper{
    flex: 1 0 60px
}

.img_wrapper img{
    border-radius: 50%;
    width: 70%;
    height: 90%;
}


.postContent_wrapper{
    flex: 7 1 400px;
    
    flex-wrap: wrap;
}


.postContent_wrapper span{
    margin-left: 20px;
}


.postContent_wrapper p{
position: relative;
top: -15px;
width: 100%;
}

.postContent_wrapper a{
text-decoration: none;
    color: rgb(8, 248, 60);
    font-size: 20px;
}

.comment_wrapper{
    max-width: 100%;
    margin-top: 0px;
   padding-top: 0px; 
   
}

.comment_iframe{
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}

.comment_iframe1{
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
  
}


.comment_iframe1:hover{
    cursor: pointer;
  
}



/* start profile  */

.profile_container{
    width: 100%;
    height: 100%;
    
}

.profile_wrapper{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background: black; */
    color: white;
    min-width: 310px;

}

.personal_profile_details{
    flex: 1 1 200px;
    background-color: #056D3D;
    border-right: 10px solid blue;
}

.personal_profile_details form{
    margin: 0 100px;
}

.profile_newfeed_container{
    flex: 5 1 600px;
}

.profilePic_container{
    width: 80px;
    height: 80px;
    margin: 10px auto;

}

.profile_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(255, 254, 254);
}

.profile_details{
   text-align: center;
}

.profile_newfeed_container{
    background-color: white;
}

.danger{
    background-color: #F8D7DA;
    padding: 10px;
  cursor: pointer;
}

.primary{
    background-color: #CCE5FF;
    padding: 10px;
    cursor: pointer;
}

.success{
    background-color: #D4EDDA;
    padding: 10px;
    cursor: pointer;
}

.warning{
    background-color: #FFF3CD;
    padding: 10px;
    cursor: pointer;
}


/*request page start*/

.request_container{
    margin: 0 auto;  
   max-width: 50%;
    background-color: white;
    border-radius:4px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}